recursive-include lib/python/treadmill_aws/bootstrap/node/aws.linux *
recursive-include lib/python/treadmill_aws/bootstrap/master/aws.linux *
recursive-include lib/python/treadmill_aws/bootstrap/zookeeper/aws.linux *
recursive-include lib/python/treadmill_aws/cli/admin/templates *
